.header {
  background-color: #315dfa;
  padding: 14px 0;
}

.header-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 0.94;

  color: #afdce6;
}

.header-title {
  text-transform: uppercase;
  font-size: 16px;
}
